<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Micro Service List :: Actuator Dashboard</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="card-group">
        <div class="card">
            <div class="card-header">
                Micro Services list
            </div>
            <div class="card-block">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Load</th>
                        <th>Uptime</th>
                        <th>Instance Uptime</th>
                        <th>Processors</th>
                        <th>Memory</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="service : ${services}">
                        <td th:text="${service.name}">name</td>
                        <td th:text="${#numbers.formatDecimal(service.systemLoad,1,2)}">system load</td>
                        <td th:text="${service.uptime}">uptime</td>
                        <td th:text="${service.instanceUptime}">intance uptime</td>
                        <td th:text="${service.processors}">processors</td>
                        <td>
                            <progress class="progress" value="75" max="100"
                                      th:value="${service.memory}"
                                      th:text="${service.memory}">~</progress>
                        </td>
                        <td th:text="${#dates.format(service.updatedOn, 'HH:mm, dd MMM yyyy')}">date</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            stompClient.subscribe('/actuators/latest', function(message){
                var data = JSON.parse(message.body);
                console.log(data);
//                var table = $('table tbody');
//
//                var rows = [];
//                $.each(data, function(index, value){
//                    rows.push('<tr><td>' + value.name + '</td><td>' + value.systemLoad + '</td><td>' + value.uptime + '</td><td>' + value.instanceUptime + '</td><td>' + value.processors + '</td></tr>');
//                });
//
//                table.html(rows);
            });
        });

    </script>
</div>

</body>
</html>
