<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Micro Service List :: Actuator Dashboard</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="card-group">
        <div class="card">
            <div class="card-header">
                Micro Services list
            </div>
            <div class="card-block">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th>Host</th>
                        <th>Load</th>
                        <th>Uptime</th>
                        <th>Processors</th>
                        <th>Memory</th>
                        <th>Memory</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="service : ${services}">
                        <td class="id" th:text="${service.id}" th:id="${service.id}" th:title="${service.host}">~</td>
                        <td class="systemLoad" th:text="${#numbers.formatDecimal(service.systemLoad,1,2)}">~</td>
                        <td class="uptime">~</td>
                        <td class="processors" th:text="${service.processors}">~</td>
                        <td class="memory-progress">
                            <progress class="progress" value="0" max="100"
                                      th:value="${service.memory}"
                            th:text="${service.memory}">~</progress>
                        </td>
                        <td class="memory-text" th:text="${service.memory + '%'}">~</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            stompClient.subscribe('/actuators/latest', function(message){
                var data = JSON.parse(message.body);

                $.each(data, function(index, value){
                    var row = $('table tbody tr td#' + value.id).parent();
                    row.find('td.id').text(value.id).attr('title', value.host);
                    row.find('td.sytemLoad').text(value.systemLoad);
                    row.find('td.uptime').text(jQuery.timeago(new Date().getTime() - value.uptime));
                    row.find('td.processors').text(value.processors);
                    row.find('td.memory-progress progress').val(value.memory).text(value.memory);
                    row.find('td.memory-text').text(value.memory + '%');
                });
            });
        });

    </script>
</div>

</body>
</html>
